version: '3'
services:
  app:
    container_name: app_container
    build: .
    ports: 
      - 8080:8080 
    restart: on-failure
    volumes:
      - app_volume:/usr/src/app/
    depends_on:
      - db
    networks:
      - backend_network
    env_file: 
      - web.env

  db:
    image: postgres:latest
    container_name: db_container
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgres
      DATABASE_HOST: host
    ports:
      - '5432:5432'
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend_network
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: user
      PGADMIN_DEFAULT_PASSWORD: secret
    logging:
      driver: "none"
    depends_on:
      - db
    ports:
      - "5050:80"
    networks:
      - backend_network
    restart: unless-stopped

volumes:
  app_volume:
  db_volume:

networks:
  backend_network:
    driver: bridge
